<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>

  <body class="{{page.modifier}}">

    {{> gtm }}

      {{> header }}

      <div class="page" role="main">

        {% body %}

      </div>

      {{> footer }}

  </body>

</html>
