<section class="section section--join-team" id="join-team">
  <div class="grid-container">
    <div class="grid-50">
      {{{md './templates/content/join-team.md'}}}
    </div>
    <div class="grid-50">
      <object type="image/svg+xml" data="assets/vectors/eyeglasses.svg" class="icon-glasses icon--50"></object>
    </div>
  </div>
</section>
