{{#if repos}}
<section class="section section--repos">
  <div class="grid-container">
    <div class="grid-100">
      <header class="section-header">
        <h1>GitHub Projects</h1>
      </header>
    </div>
    {{#each repo}}
    <div class="grid-33 tablet-grid-50 mobile-grid-100">
      <div class="repo">
        <h2 class="repo__name">
          <a href="{{html_url}}" alt="{{name}}">{{name}}</a>
        </h2>
        {{#if description}}
        <p>{{description}}</p>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
</section>
{{/if}}
