<aside class="menu content--aside grid-25 suffix-5" id="menu">

  {{> menu }}

  <div class="company">
    <img class="company__logo --small" src="{{assets}}/{{site.logo}}" alt="{{site.title}}" />
  </div>

</aside>
