  <nav class="menu__nav">

    <ul class="nav-list">

      <li class="nav-item">
        <a href="http://www.onenorth.com/blog/" alt="One North Blog">Blog</a>
      </li>

      <li class="nav-item">
        <a href="https://github.com/onenorth/" alt="One North on Github">Github</a>
      </li>

    </ul>

  </nav>
