$a-tags: 'a, a:active, a:hover';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
    color: map-get($colors, red);
    text-decoration: none;
}

#{$a-tags-hover} {
    color: mix(map-get($colors, red), map-get($colors, dark), 95%);
}

html,
body {
    height: 100%;
}

body {
    margin: auto;
    line-height: 1.4;
}

p {
    margin-bottom: $default-spacing;
    margin-top: 0;

    &:last-child {
        margin-bottom: 0;
    }
}

object {
    max-width: 100%;
}

::-moz-selection,
::selection {
    background: map-get($colors, red);
    color: map-get($colors, whisper);
    text-shadow: none;
}
