.section--repos {

  .section-header {
    text-align: center;
  }

  h2 {
    margin-top: 0;
  }
}

.repo {
  min-height: 260px;
  margin-bottom: 20px;
  padding: 1em;
  background: map-get($colors, light);
}

.repo__name {
  margin-top: 0;
  font-size: $h3-size;
  font-weight: 300;
}

.repo__description {
  font-size: $h5-size;
}
